{% extends '::base.html.twig' %}

{% block navbar %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('homeuser') }}">My orders</a> |
    <a href="{{ path('_logout') }}">Log out</a>
{% else %}
    <a href="{{ path('_login') }}">Log in</a> |
    <a href="{{ path('signup') }}">Sign up</a>
{% endif %}

{% endblock %}

{% block js %}

    
    {% javascripts '@TutorialBundle/Resources/js/jquery.js' filter='?closure' output='js/output.js' %}

        <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}

{% block stylesheets %}

    {% stylesheets '@app_style' filter='?yui_css' output='css/style.css' %}

        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />

    {% endstylesheets %}

{% endblock %}