<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Tutorial Store - {% block title %}Welcome{% endblock %}</title>
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('css/style.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="divLogin">
            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}

            <form action="{{ path('_security_check') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />

                <input type="submit" name="login" />
            </form>
        </div>
    </body>
</html>