<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Tutorial Store - {% block title %}Welcome{% endblock %}</title>
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('css/style.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="main">
            <div id="header">
                <div id="logo">
                    <a href="{{ path('homepage') }}" class="logo">
                        <img src="{{ asset('logo.png') }}" alt="" />
                        Tutorial Store!
                    </a>
                </div>
                <div id="navbar">
                    {% block navbar %}{% endblock %}
                </div>
            </div>
            <br class="clear-mark" />
            <div id="searchbar">
                <form action="" method="get">
                    <input type="text" id="txtMainSearch" name="txtMainSearch" value="Search for products" class="search-bar" />
                    <input type="button" value="Search!" id="btnMainSearch" />
                </form>
            </div>
            <div id="mainArea">
                {% block body %}{% endblock %}
            </div>
            <div id="footer">
                <a href="">About Us</a> | <a href="">Legal</a>
            </div>
        </div>
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}">
        </script>
        <script type="text/javascript">
            $(function() {
                $('#txtMainSearch').blur(function() {
                    if (this.value == '') {
                        this.value = 'Search for products';
                    }
                }).focus(function() {
                    this.value = '';
                });
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
